/**** calculator body ****/

.calculator-container {
  border-radius: 5px;
  background-color: #50545d; 
  width: 23%;
}

body {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to bottom right , #87ceeb, #ffc0cb);
  background-repeat: no-repeat;
}

/**** calculator header ****/

header {
  display: flex;
  justify-content: center;
  margin: 15px 0px 15px 0px;
}


input {
  padding: 0px 20px 0px 20px;
  border: none;
  background-color: #cccccc;
  display: flex;
  text-align: end;
  box-shadow: inset 0px 1px 7px 1px gray;
  width: 75%;
  height: 50px;
  font-size: 32px;
}

/**** calculator main ****/

.operations-btns {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.add-key,
.subtract-key,
.multiply-key,
.divide-key,
.decimal-key {
  cursor: pointer;
  border-radius: 50px;
  color: #fff;
  border: none;
  border: 50px;
  background-color:#50545d;
  box-shadow: 1px 8px 23px -13px #000, 
  -11px -4px 17px -17px #FFF ;
  width: 61px;
  height: 60px;
}

.ac-key {
  cursor: pointer;
  border: none;
  border-radius: 50px;
  background-color: #50545d;
  box-shadow: 1px 9px 19px -8px #000, 
  -11px 0px 24px -14px #FFF;
  height: 50px;
  width: 60%;
  color: #fff;

}

.number-btns {
  margin: 15px 25px 15px 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}

.number-key {
  cursor: pointer;
  border: none;
  border-radius: 50px;
  background-color: #50545d;
  box-shadow: 1px 8px 23px -13px #000, 
  -11px -4px 17px -17px #FFF;
  width: 55px;
  height: 55px;
  color: #fff;
}

#zero-btn {
  cursor: pointer;
  border: none;
  border-radius: 50px;
  background-color: #50545d;
  box-shadow: 1px 9px 19px -8px #000, 
  -11px 0px 24px -14px #FFF;
  height: 50px;
  width: 45%;
  color: #fff;
}
